quic: terminate conns on quota violations

See [RFC 9000 Section 19.11](https://www.rfc-editor.org/rfc/rfc9000#name-max_streams-frames) 

> An endpoint MUST terminate a connection with an error of type STREAM_LIMIT_ERROR if a peer opens more streams than was permitted. This includes violations of remembered limits in Early Data; see [Section 7.4.1](https://www.rfc-editor.org/rfc/rfc9000#zerortt-parameters).

fd_quic currently does not respect quota violations.