quic: let server issue retries

See [RFC 9000 Section 17.2.5](https://www.rfc-editor.org/rfc/rfc9000#packet-retry) and [QUIC Retry Offload](https://www.ietf.org/archive/id/draft-ietf-quic-retry-offload-00.html).

The QUIC Retry mechanism can be used to defend against packet floods, especially UDP spoofing, by forcing a full round trip before handshaking. It also allows for various other mitigation offloading techniques.