quic: support stateless resets

See [RFC 9000 Section 10.3](https://www.rfc-editor.org/rfc/rfc9000#stateless-reset)

Facilitates fast connection failure recovery.

Required pieces:
- Persistent HKDF key material for deriving stateless reset tokens
- Algorithm for appropriately sizing stateless reset packets
- Tx rate limiter